<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="logback.properties"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${PATH_LOG_FILE}/${NAME_LOG_FILE}-%d{yyyy-MM-dd}.%i.log</FileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>


        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${PATTERN_LAYOUT}</Pattern>
        </layout>

    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>