<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <display-name>Example WebSockets chat</display-name>

    <servlet>
        <servlet-name>chatWS</servlet-name>
        <servlet-class>com.exadel.websockets.chat.WebSocketCharServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>chatWS</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>

</web-app>